/* Контент страницы */
html, body
  height: 100%

.b-page
  position: relative
  min-height: 100%

/* Шапка */
@import "_b-header.styl"

/* Сайдбар */
@import "_b-sidebar.styl"

/* Основной контент */
@import "_b-main.styl"

/* Подвал */
@import "_b-footer.styl"

/* Всплывающие, модальные окна */
@import "_b-popup.styl"